body {
    width: 350px;
    font-family: 'Lato', sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700 !important;
}

.statistics {
    padding: 40px 10px;
}

.normal_text {
    font-size: 1.1em;
}

#board_missing, #board_url_div,
#board_url_list, #oauth_ok,
#alert_box, #post_success {
    display: none;
}

#set_board {
    margin-top: 10px;
}

button {
    width: 100%;
}

input, select, button {
    border-radius: 60px !important;
}
